{% extends 'template.html' %}

{% load static %}

{% block style %}

{% endblock %}

{% block content %}
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb bg-primary">
			<li class="breadcrumb-item"><a href={{ breadcrumb.0 }}>Organization</a></li>
			<li class="breadcrumb-item active" aria-current="page">Generate Invoice</li>
		</ol>
	</nav>
	<div class="card">
		<div class="card-body">
			<h4 class="card-title">Invoice Form</h4>

			<form class="forms-invoice" method="post" action={% url "invoice" %}>
				{% csrf_token %}
				<div class="row">
					<div class="col-6 form-group">
						<label for="vendor_name">Vendor Name</label>
						<input type="text" class="form-control" id="vendor_name" placeholder="Vendor Name"
							   name="vendor_name" required>
					</div>
					<div class="col-6 form-group">
						<label for="vendor_phone">Vendor Contact Number</label>
						<input type="tel" class="form-control" id="vendor_phone" placeholder="Vendor Contact Number"
							   name="vendor_phone" required>
					</div>
				</div>
				<div class="row">
					<div class="col-6 form-group">
						<label for="vendor_gstin">Vendor GSTIN <span
										id="gstin-validation-message"></span></label>
						<input type="text" class="form-control" id="vendor_gstin" placeholder="Vendor GST"
							   name="vendor_gstin">
					</div>
					<div class="col-6 form-group">
						<label for="vendor_pincode">Vendor Pincode </label>
						<input type="tel" class="form-control" id="vendor_pincode" placeholder="Vendor Contact Pincode"
							   name="vendor_pincode" required>
					</div>
				</div>
				<div class="row">
					<div class="col-6 form-group">
						<label for="vendor_city">Vendor City </label>
						<input type="text" class="form-control" id="vendor_city" placeholder="Vendor City"
							   name="vendor_city" readonly>
					</div>
					<div class="col-6 form-group">
						<label for="vendor_state">Vendor State </label>
						<input type="tel" class="form-control" id="vendor_state" placeholder="Vendor State"
							   name="vendor_state" readonly>
					</div>
				</div>
				<div class=" form-group">
					<label for="vendor_address">Vendor Address </label>
					<textarea class="form-control" id="vendor_address" placeholder="Vendor Address"
							  name="vendor_address"></textarea>
				</div>


				<div class="table-responsive ">
					<hr>
					<p class="card-description">Invoice Items</p>

					<table class="table invoice_data_repeater" style="width:100%">
						<thead>
						<tr>
							<th style="width: 20%">Item Name</th>
							<th style="width: 10%">Item Barcode</th>
							<th style="width: 20%">Description</th>
							<th style="width: 10%">HSN code</th>
							<th style="width: 10%">SKU code</th>
							<th style="width: 10%">Quantity</th>
							<th style="width: 15%">Price</th>
							<th style="width: 4%">Action</th>
						</tr>
						</thead>
						<tbody data-repeater-list="invoice_items">

						<tr class="invoice_item" data-repeater-item id="invoice_data_1">
							<td>
								<select class="form-control form-control-sm" name="name[]" id="name" placeholder="Product Name" onchange="product_name(this)" required>
									<option value="" selected></option>

									<option value="other" >Create Product</option>
								</select>
							</td>
							<td><input class="form-control form-control-sm" type="number" name="barcode" min="0"></td>
							<td><input class="form-control form-control-sm" type="text" name="description"
									   placeholder="Description" readonly></td>
							<td><input class="form-control form-control-sm" type="text" name="hsn"
									   placeholder="HSN Code" readonly></td>
							<td><input class="form-control form-control-sm" type="text" name="sku"
									   placeholder="SKU Code" readonly></td>
							<td><input class="form-control form-control-sm" type="number" name="qty"
									   placeholder="Quantity" min="1" readonly></td>
							<td><input class="form-control form-control-sm price" type="number" name="price"
									   placeholder="Price" onchange="calculate_total()" min="0" readonly></td>
							<td>
								<button type="button" class="btn btn-danger btn-rounded btn-icon" data-repeater-delete>
									<i class="mdi mdi-delete"></i></button>
								<button type="button" class="btn btn-success btn-rounded btn-icon" data-repeater-create>
									<i class="mdi mdi-plus"></i></button>

							</td>
						</tr>

						</tbody>
						<tfoot>
						<tr>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td><strong>Total - </strong></td>
							<td><input class="form-control form-control-sm" type="number" id="total" name="total"
									   placeholder="Price" min="0"
									   readonly></td>
							<td></td>

						</tr>
						</tfoot>
					</table>

				</div>
				<hr>
				<p class="card-description">Invoice Description</p>

				<div class="payment repeater">
					<div class="d-flex justify-content-between align-items-center">
						<div class="form-check form-check-flat form-check-primary">
							<label class="form-check-label">
								<input type="checkbox" class="form-check-input" id="partial-payment"
									   name="partial-payment">
								Partial Payments
								<i class="input-helper"></i>
							</label>
						</div>
						<button data-repeater-create type="button"
								class="partial_btn btn btn-success btn-rounded btn-icon">
							<i class="mdi mdi-plus"></i>
						</button>
					</div>

					<div class="row">
						<div class="col-6 form-group">
							<label for="payment-type">Payment Type</label>
							<select class="form-control form-control-sm w-100" id="payment-type">
								<option value="Cash" selected>Cash</option>
								<option value="Upi">UPI</option>
								<option value="Debit Card">Debit Card</option>
								<option value="Credit Card">Credit Card</option>
								<option value="Finance">Finance</option>
								<option value="Credit">Credit</option>
							</select>
						</div>
						<div class="col-5 form-group">
							<label for="payment-amt">Payment Amount</label>
							<input class="form-control form-control-sm" type="number" id="payment-amt"
								   placeholder="Amount Paid">
						</div>
						<div class="col-1">

						</div>
					</div>

					<div data-repeater-list="partial-payment" class="partial-payment">
						<div data-repeater-item>
							<div class="row">
								<div class="col-6 form-group">
									<select class="form-control form-control-sm w-100" name="payment-type">
										<option value="Cash" selected>Cash</option>
										<option value="Upi">UPI</option>
										<option value="Debit Card">Debit Card</option>
										<option value="Credit Card">Credit Card</option>
										<option value="Finance">Finance</option>
										<option value="Credit">Credit</option>
									</select>
								</div>
								<div class="col-5 form-group">
									<input class="form-control form-control-sm" type="number" name="payment-amt"
										   placeholder="Amount Paid">
								</div>
								<div class="col-1 form-group">
									<button data-repeater-delete type="button"
											class="btn btn-danger btn-rounded btn-icon"><i class="mdi mdi-delete"></i>
									</button>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="transport_module">
					<div class="form-check form-check-flat form-check-primary">
						<label class="form-check-label">
							<input type="checkbox" class="form-check-input" id="transport" name="transport">
							Transportation
							<i class="input-helper"></i></label>
					</div>
					<div class="transport">
						<div class="row">
							<div class="col-6 form-group">
								<label for="transporter_name">Transporter Name</label>
								<input type="text" class="form-control" id="transporter_name"
									   placeholder="Transporter Name"
									   name="transporter_name" required>
							</div>
							<div class="col-6 form-group">
								<label for="transporter_phone">Transporter Number</label>
								<input type="text" class="form-control" id="transporter_phone"
									   placeholder="Transporter Contact Number"
									   name="transporter_phone" required>
							</div>
						</div>
						<div class="row">
							<div class="col-6 form-group">
								<label for="transporter_vehicle">Transporter Vehicle Number</label>
								<input type="text" class="form-control" id="transporter_vehicle"
									   placeholder="Transporter Vehicle Number"
									   name="transporter_vehicle" required>
							</div>
							<div class="col-6 form-group">
								<label for="transporter_id">Transporter ID</label>
								<input type="text" class="form-control" id="transporter_id" placeholder="Transporter ID"
									   name="transporter_id">
							</div>
						</div>
						<div class="row">
							<div class="col-6 form-group">
								<label for="transport_amt">Transport Amount Paid</label>
								<input type="number" class="form-control" id="transport_amt"
									   placeholder="Transport Amount Paid"
									   name="transport_amt">
							</div>
						</div>
					</div>
				</div>
				<br>
				<br>

				<button type="submit" class="btn btn-primary mr-2">Submit</button>
				<button href={% url "organization" %} class="btn btn-light">Cancel</button>
			</form>
		</div>
	</div>
{% endblock %}

{% block script %}
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

	<script src={% static "vendors/jquery.repeater/jquery.repeater.min.js" %}></script>
	<script src={% static "js/form-repeater.js" %}></script>
	<script>

        function toggleTransportDiv() {
            var checkbox = document.getElementById("transport");
            var transportDiv = document.querySelector(".transport");

            if (checkbox.checked) {
                transportDiv.style.display = "block";
            } else {
                transportDiv.style.display = "none";
            }
        }

        var checkbox = document.getElementById("transport");
        checkbox.addEventListener("change", toggleTransportDiv);

        toggleTransportDiv();

        function togglePartialPaymentDiv() {
            var checkbox = document.getElementById("partial-payment");
            var partialPaymentDiv = document.querySelector(".partial-payment");
            var partialBtn = document.querySelector(".partial_btn");

            if (checkbox.checked) {
                partialPaymentDiv.style.display = "block";
                partialBtn.style.display = "block";
                partialBtn.disabled = false;
            } else {
                partialPaymentDiv.style.display = "none";
                partialBtn.style.display = "none";
                partialBtn.disabled = true;
            }
        }

        var checkbox = document.getElementById("partial-payment");
        checkbox.addEventListener("change", togglePartialPaymentDiv);

        togglePartialPaymentDiv();

        var totalInput = document.getElementById("total");

		function calculate_total() {
            var total = 0;

            document.querySelectorAll(".price").forEach(function(inputElement) {
                var inputValue = parseFloat(inputElement.value);
                if (!isNaN(inputValue)) {
                    total += inputValue;
                }
            });

            totalInput.value = total;
        }

        (function ($) {
			'use strict';
			$(function () {
				$('.invoice_data_repeater').repeater({

					show: function () {
						// Generate a unique ID for the item
						var uniqueId = 'invoice_data_' + $('.invoice_data_repeater .invoice_item').length;

						// Set the unique ID as an attribute for the item
						$(this).attr('id', uniqueId);
						$(this).slideDown("invoice_item_repeat");
						$(this).find('.btn-success[data-repeater-create]').remove();
					},
					hide: function (deleteElement) {
						if (confirm('Are you sure you want to delete this element?')) {
							$(this).slideUp(deleteElement);
						}
					},
					isFirstItemUndeletable: true
				});
			});
		})(jQuery);



        function validateGSTIN(gstin) {
            if (gstin === "") {
                return true;
            }
            var gstinRegex = /^\d{2}[A-Z]{5}\d{4}[A-Z]{1}[1-9A-Z]{1}Z[A-Z\d]{1}$/;
            return gstin.match(gstinRegex) !== null;
        }

        function handleInputChange() {
            var inputElement = document.getElementById("vendor_gstin");
            var validationMessage = document.getElementById("gstin-validation-message");
            if (inputElement.value == "") {
                validationMessage.textContent = "";
                validationMessage.style.color = "";
            } else if (validateGSTIN(inputElement.value)) {
                validationMessage.textContent = "(Valid GSTIN)";
                validationMessage.style.color = "green";
            } else {
                validationMessage.textContent = "(Invalid GSTIN. Please enter a valid GSTIN.)";
                validationMessage.style.color = "red";
            }
        }

        function handleFormSubmit(event) {
            var inputElement = document.getElementById("vendor_gstin");
            if (!validateGSTIN(inputElement.value)) {
                event.preventDefault();
                alert("Please enter a valid GSTIN before submitting.");
            }
        }

        var gstinInput = document.getElementById("vendor_gstin");
        gstinInput.addEventListener("input", handleInputChange);

        var organizationForm = document.getElementById("vendor_gstin");
        organizationForm.addEventListener("submit", handleFormSubmit);

        $(document).ready(function () {
            $('#vendor_pincode').blur(function () {
                var pincode = $(this).val();
                if (pincode.length == 6) {
                    $.ajax({
                        url: 'https://api.postalpincode.in/pincode/' + pincode,
                        type: 'GET',
                        success: function (result) {
                            if (result[0].Status == 'Success') {
                                var city = result[0].PostOffice[0].District;
                                var state = result[0].PostOffice[0].State;
                                $('#vendor_city').val(city);
                                $('#vendor_state').val(state);
                            }
                        }
                    });
                }
            });
        });
	</script>
	<script>
	function product_name(element){
		var parentId = $(element).closest('tr').attr('id');
		if ($(element).val() === 'other') {
			var name = $(element).attr('name')
			var newInput = $('<input>', {
						class: 'form-control form-control-sm',
						type: 'text',
						name: name,
						placeholder: 'Product Name',
						required: true,
					});
					$(element).replaceWith(newInput);
        	$('#' + parentId + ' input').removeAttr('readonly');

    	}
	}
	</script>
	<script>

	</script>

{% endblock %}