{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>ExpertBill.in | {{ title }}</title>
  <!-- base:css -->
  <link rel="stylesheet" href={% static "vendors/mdi/css/materialdesignicons.min.css" %}>
  <link rel="stylesheet" href={% static "vendors/flag-icon-css/css/flag-icon.min.css" %}>
  <link rel="stylesheet" href={% static "vendors/css/vendor.bundle.base.css" %}>
  <!-- endinject -->
  <!-- plugin css for this page -->
    {% block style %}
    {% endblock %}
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href={% static "css/vertical-layout-light/style.css" %}>
  <!-- endinject -->
  <link rel="shortcut icon" href={% static "images/favicon.png" %} />
</head>

<body>
  <div class="container-scroller">
    <!-- partial:../../partials/_navbar.html -->
    <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
      <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
        <a class="navbar-brand brand-logo" href="../../index.html"><h3 style="color: var(--primary)"><strong>Expert Bill</strong></h3>
</a>
        <a class="navbar-brand brand-logo-mini" href="../../index.html"><h3 style="color: var(--primary)"><strong>EB</strong></h3>
</a>
      </div>
      <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
        <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
          <span class="mdi mdi-menu"></span>
        </button>
        <ul class="navbar-nav navbar-nav-left">
          <li class="nav-item d-none d-lg-block">
            <a href="#" class="nav-link"><p>Dashboard</p></a>
          </li>
        </ul>
        <ul class="navbar-nav navbar-nav-right">
          <li class="nav-item nav-search d-none d-lg-block">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="search">
                  <i class="mdi mdi-magnify"></i>
                </span>
              </div>
              <input type="text" class="form-control" placeholder="Type to search" aria-label="search" aria-describedby="search">
            </div>
          </li>
          <li class="nav-item nav-profile dropdown">
            <a class="nav-link" href="#" data-toggle="dropdown" id="profileDropdown">
              <img src="https://via.placeholder.com/31x31" alt="profile"/>
            </a>
            <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">
              <a class="dropdown-item">
                <i class="mdi mdi-settings text-primary"></i>
                Settings
              </a>
              <a class="dropdown-item" href={% url "logout" %}>
                <i class="mdi mdi-logout text-primary"></i>
                Logout
              </a>
            </div>
          </li>
            {#  todo  #}
        </ul>
        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
          <span class="mdi mdi-menu"></span>
        </button>
      </div>
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial -->
      <!-- partial:../../partials/_sidebar.html -->
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <div class="sidebar-profile">
          <div class="d-flex align-items-center justify-content-between">
            <img src="https://via.placeholder.com/37x37" alt="profile">
            <div class="profile-desc">
              <p class="name mb-0">{{ first_name }} {{ last_name }}</p>
              <p class="designation mb-0">{{ role }}</p>
            </div>
          </div>
        </div>
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="../../index.html">
              <i class="mdi mdi-view-dashboard menu-icon"></i>
              <span class="menu-title">Dashboard</span>
            </a>
          </li>
          {% if organization %}
              <li class="nav-item">
                <a class="nav-link" data-toggle="collapse" href="#owner" aria-expanded="false" aria-controls="owner">
                  <i class="mdi mdi-briefcase menu-icon"></i>
                  <span class="menu-title">Owner</span>
                  <i class="menu-arrow"></i>
                </a>
                <div class="collapse" id="owner">
                  <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href={% url "login" %}>Manage Organization</a></li>
                  </ul>
                  <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href={% url "login" %}>Manage Employee</a></li>
                  </ul>
                  <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href={% url "login" %}>Assign Employee</a></li>
                  </ul>

                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="collapse" href="#hr" aria-expanded="false" aria-controls="hr">
                  <i class="mdi mdi-account-network menu-icon"></i>
                  <span class="menu-title">HR</span>
                  <i class="menu-arrow"></i>
                </a>
                <div class="collapse" id="hr">
                  <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href={% url "login" %}>Manage Employee</a></li>
                  </ul>
                  <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href={% url "add_employee" %}>Add Employee</a></li>
                  </ul>
                  <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href={% url "login" %}>Salary Distribution</a></li>
                  </ul>
                  <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href={% url "login" %}>Salary History</a></li>
                  </ul>
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="collapse" href="#accountant" aria-expanded="false" aria-controls="accountant">
                  <i class="mdi mdi-format-list-bulleted menu-icon"></i>
                  <span class="menu-title">Accountant</span>
                  <i class="menu-arrow"></i>
                </a>
                <div class="collapse" id="accountant">
                  <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href={% url "login" %}>Billing</a></li>
                  </ul>
                  <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href={% url "login" %}>Billing History</a></li>
                  </ul>
                  <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href={% url "login" %}>GST Billing History</a></li>
                  </ul>
                  <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href={% url "login" %}>E-way Billing History</a></li>
                  </ul>
                  <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href={% url "login" %}>Quotation</a></li>
                  </ul>
                  <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href={% url "login" %}>Quotation History</a></li>
                  </ul>
                  <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href={% url "login" %}>Expense</a></li>
                  </ul>
                  <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href={% url "login" %}>Expense History</a></li>
                  </ul>
                  <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href={% url "invoice" %}>Invoice</a></li>
                  </ul>
                  <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href={% url "list_invoice" %}>Invoice History</a></li>
                  </ul>
                  <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href={% url "inventory" %}>Inventory</a></li>
                  </ul>
                  <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href={% url "login" %}>Customer Details</a></li>
                  </ul>
                  <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href={% url "supplier" %}>Supplier Details</a></li>
                  </ul>
                  <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href={% url "login" %}>Accounts</a></li>
                  </ul>

                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="collapse" href="#sales" aria-expanded="false" aria-controls="sales">
                  <i class="mdi mdi-currency-inr menu-icon"></i>
                  <span class="menu-title">Sales</span>
                  <i class="menu-arrow"></i>
                </a>
                <div class="collapse" id="sales">
                  <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href={% url "login" %}>Billing</a></li>
                  </ul>
                  <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href={% url "login" %}>Billing History</a></li>
                  </ul>
                  <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href={% url "login" %}>Quotation</a></li>
                  </ul>
                  <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href={% url "login" %}>Quotation History</a></li>
                  </ul>
                  <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href={% url "login" %}>Sales Lead</a></li>
                  </ul>
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="collapse" href="#analyst" aria-expanded="false" aria-controls="analyst">
                  <i class="mdi mdi-chart-areaspline menu-icon"></i>
                  <span class="menu-title">Analyst</span>
                  <i class="menu-arrow"></i>
                </a>
                <div class="collapse" id="analyst">
                  <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href={% url "login" %}>Predictive Analytics</a></li>
                  </ul>
                  <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href={% url "login" %}>Demand Forecasting</a></li>
                  </ul>
                  <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href={% url "login" %}>Employee Management</a></li>
                  </ul>
                  <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href={% url "login" %}>Sentiment Analysis</a></li>
                  </ul>
                  <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href={% url "login" %}>Risk Assessment</a></li>
                  </ul>
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="collapse" href="#production" aria-expanded="false" aria-controls="production">
                  <i class="mdi mdi-wrench menu-icon"></i>
                  <span class="menu-title">Production Manager</span>
                  <i class="menu-arrow"></i>
                </a>
                <div class="collapse" id="production">
                  <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href={% url "inventory" %}>Inventory</a></li>
                  </ul>
                  <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href={% url "login" %}>Manifacture Parts</a></li>
                  </ul>
                  <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href={% url "login" %}>Manifacture Parts History</a></li>
                  </ul>
                </div>
              </li>
          {% endif %}

        </ul>
      </nav>
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
            {% block content %}
            {% endblock %}
        </div>
        <!-- content-wrapper ends -->
        <!-- partial:../../partials/_footer.html -->
        <footer class="footer">
          <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2023 <a href="" target="_blank">ByteDevelop</a>. All rights reserved.</span>
            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted & made with <i class="mdi mdi-heart text-danger"></i></span>
          </div>
        </footer>
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->
  <!-- base:js -->



  <script src={% static "vendors/js/vendor.bundle.base.js" %}></script>
  <!-- endinject -->
  <!-- Plugin js for this page-->
  <!-- End plugin js for this page-->
  <!-- inject:js -->
  <script src={% static "js/off-canvas.js" %}></script>
  <script src={% static "js/hoverable-collapse.js" %}></script>
  <script src={% static "js/template.js" %}></script>

  {% block script %}
  {% endblock %}
  <!-- endinject -->
  <!-- plugin js for this page -->
  <!-- End plugin js for this page -->
  <!-- Custom js for this page-->
  <!-- End custom js for this page-->

</body>

</html>
