{% extends 'template.html' %}

{% load static %}

{% block style %}
	<link rel="stylesheet" href={% static "vendors/datatables.net-bs4/dataTables.bootstrap4.css" %}>
{% endblock %}


{% block content %}
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb bg-primary">
			<li class="breadcrumb-item"><a href={{ breadcrumb.0 }}>Organization</a></li>
			<li class="breadcrumb-item active" aria-current="page">Supplier</li>
		</ol>
	</nav>

	<div class="card">
		<div class="card-body">
			<div class="d-flex justify-content-between align-items-center">
				<h4 class="card-title mb-0">Supplier</h4>
			</div>
		<hr>
			<div class="row">
                <div class="col-12">
                  <div class="table-responsive">
                    <table id="order-listing" class="table">
                      <thead>
                        <tr>
                            <th>Supplier Name</th>
                            <th>GST id</th>
                            <th>Contact</th>
                            <th>View</th>
                        </tr>
                      </thead>
                      <tbody>
					  {% for supplier in suppliers %}
							<tr>
								<td>{{ supplier.name }}</td>
								<td>{{ supplier.gst_id }}</td>
								<td>{{ supplier.contact_number }}</td>
								<td>
									<button class="btn btn-outline-primary">View</button>
								</td>
							</tr>
						{% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
		</div>

	</div>
{% endblock %}


{% block script %}
	<script src={% static "vendors/datatables.net/jquery.dataTables.js" %}></script>
  	<script src={% static "vendors/datatables.net-bs4/dataTables.bootstrap4.js" %}></script>
  	<script src={% static "js/data-table.js" %}></script>
{% endblock %}